#video2{

        background-image: url("../img/base.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover; 
        img{
            width: 100%;
            height: auto;
            // display: flex;
            // justify-content: center;
            // align-items: center;
        }   
}